.protocols-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    position: absolute;
    width: 30rem;
    height: 30rem;
    shape-outside: circle();
    clip-path: circle();
    font-size: 14px;
}

.protocols {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-content: space-between;
    width: 22rem;
    height: 22rem;
    background-color: gold;
    shape-outside: circle();
    clip-path: circle();
    font-size: 14px;
}